<!DOCTYPE html>
<html>
<head>
    <title><%= project_name.capitalize %></title>
    <style>body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden };</style>
</head>
<body>
    <script src="<%= project_name %>.cjs"></script>
</body>
</html>